// converted from https://gist.github.com/andyferra/2554919
.table-container {
  overflow-x: scroll;

  --border-color: #cccccc;

  @media (prefers-color-scheme: dark) {
    --border-color: #{$tCyan};
  }

  table {
    padding: 0;
    border-collapse: collapse;
    tr {
      border-top: 1px solid var(--border-color);
      background-color: white;
      @media (prefers-color-scheme: dark) {
        background-color: $tBlack;
      }
      margin: 0;
      padding: 0;
      &:nth-child(2n) {
        @media (prefers-color-scheme: dark) {
          background-color: lighten($color: $tBlack, $amount: 7%);
        }
        background-color: #f8f8f8;
      }
      th {
        font-weight: bold;
        border: 1px solid var(--border-color);
        text-align: left;
        margin: 0;
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
        li &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      td {
        border: 1px solid var(--border-color);
        text-align: left;
        margin: 0;
        padding: 6px 13px;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
