/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 14, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
html, button, input, select, textarea {
  color: #222; }

/* line 19, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  font: 16px / 26px Helvetica, Helvetica Neue, Arial; }

/* line 27, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
html, body {
  height: 100%;
  background-image: url("/img/light_noise_diagonal.png"); }

/* line 33, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 38, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 47, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
img {
  vertical-align: middle; }

/* line 51, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 57, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
textarea {
  resize: vertical; }

/* line 65, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.date {
  font-style: italic;
  font-size: .6em; }

/* line 70, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   Edited: David Brownman - this is my site
   ========================================================================== */
/* line 82, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ===================
    ALL: Blue Theme
   =================== */
/* line 91, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.page {
  min-height: 100%;
  position: relative;
  border-left: 10px solid #2b2b2b; }
  /* line 96, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .page a {
    color: #de1b1b;
    border-bottom: 1px solid #a5a5a5;
    text-decoration: none;
    -moz-transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
    /* line 105, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .page a:visited {
      color: #de1b1b; }
    /* line 109, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .page a:hover {
      border-bottom: 1px solid #de1b1b;
      -moz-transition: 0.5s ease-out;
      -webkit-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out; }

/* line 121, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.header-container {
  border-bottom: 20px solid #de1b1b; }

/* line 129, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.footer-container, .main aside {
  border-top: 20px solid #de1b1b; }

/* line 133, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.header-container, .footer-container, .main aside {
  background: #2b2b2b; }

/* line 139, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.main-container {
  padding-bottom: 30px; }

/* line 143, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.mini_header {
  padding-bottom: 3%; }

/* line 148, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.footer-container {
  height: 30px;
  position: absolute;
  width: 100%;
  bottom: 0; }
  /* line 154, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .footer-container .feet {
    font-weight: 300;
    position: absolute;
    right: 0;
    color: #f6f6f6; }
    /* line 156, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .footer-container .feet i {
      color: #f6f6f6; }
    /* line 159, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .footer-container .feet ul {
      margin: 0;
      padding: 0;
      padding-right: 33px; }
    /* line 164, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .footer-container .feet li {
      display: inline-block;
      padding-right: 30px; }
    /* line 171, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .footer-container .feet a {
      color: #f6f6f6;
      border-bottom: 1px solid #2b2b2b; }
    /* line 175, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .footer-container .feet a:hover {
      border-bottom: 1px solid #f6f6f6; }

/* line 183, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.title {
  color: #f6f6f6; }
  /* line 185, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .title a {
    color: #f6f6f6 !important;
    border-bottom: 1px solid #2b2b2b; }
    /* line 188, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .title a:hover {
      border-bottom: 1px solid #f6f6f6; }

/* line 196, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
article header p, article section p, article footer p {
  padding-bottom: 5%; }
/* line 199, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
article header .projects, article section .projects, article footer .projects {
  list-style-type: circle;
  font-weight: 200; }
/* line 205, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
article .dict {
  background-color: rgba(187, 187, 187, 0.3);
  padding: 20px;
  width: 60%; }

/* ==============
    MOBILE: Menu
   ============== */
/* line 218, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #2b2b2b; }
/* line 224, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  color: #2b2b2b !important;
  background: #f6f6f6;
  font-weight: 400;
  font-size: 1.3em;
  border-bottom: 1px solid #2b2b2b !important; }
  /* line 235, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav a:hover {
    text-decoration: underline; }
  /* line 238, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav a:visited {
    color: #2b2b2b; }

/* ==============
    MOBILE: Main
   ============== */
/* line 248, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.main {
  padding: 30px 0; }
  /* line 250, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main article h1 {
    font-size: 2em; }
  /* line 254, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main .heading {
    font-weight: 400; }
  /* line 257, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main p {
    font-weight: 300; }
  /* line 260, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main aside {
    color: #f6f6f6;
    padding: 0px 3% 10px; }
    /* line 264, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .main aside a {
      color: #f6f6f6;
      border-bottom: 1px solid #f6f6f6; }
      /* line 267, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
      .main aside a:hover {
        border-bottom: 1px solid #2b2b2b; }
      /* line 270, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
      .main aside a:visited {
        color: #f6f6f6; }
    /* line 275, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .main aside img {
      padding-top: 30px;
      padding-bottom: 30px;
      width: 99%; }
  /* line 282, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main .second {
    margin-top: 30px; }

/* line 288, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.footer-container footer {
  color: #f6f6f6; }
  /* line 291, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .footer-container footer .sitename {
    display: none; }

/* ===============
    ALL: IE Fixes
   =============== */
/* line 300, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 308, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.tumblr_posts {
  list-style-type: none;
  width: 60%; }

/* line 313, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.tumblr_post {
  margin-bottom: 100px; }
  /* line 315, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .tumblr_post .date {
    font-size: 1em; }
  /* line 318, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .tumblr_post blockquote {
    background-color: #bbbbbb;
    padding: 30px;
    font-family: courier, helvetica;
    margin-left: -10px; }
  /* line 325, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .tumblr_post .tumblr_title {
    font-size: 2em;
    color: #2b2b2b;
    margin-bottom: 10px; }
  /* line 332, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .tumblr_post .tumblr_body {
    border-left: 3px solid #de1b1b;
    padding-left: 20px; }

/* line 345, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.quote_source {
  font-size: 1.5em; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 361, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0; }
  /* line 370, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav li:first-child a {
    margin-left: 0; }
  /* line 373, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav li:last-child a {
    margin-right: 0; }
  /* line 377, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav ul li {
    display: inline; }

  /* line 383, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .footer-container footer .sitename {
    display: inline; }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  /* line 391, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 1124px) {
  /* ============
      WIDE: Menu
     ============ */
  /* line 400, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .title {
    float: left;
    margin-left: -2%; }

  /* line 404, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  nav {
    float: right;
    width: 38%;
    font-size: 1.3em; }

  /* ============
      WIDE: Main
     ============ */
  /* line 413, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main article {
    float: left;
    width: 60%;
    margin-left: -2%; }
  /* line 418, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .main aside {
    float: right;
    width: 23%;
    margin-right: 5%; }
    /* line 422, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    .main aside img {
      width: 99%; } }
@media only screen and (min-width: 750) {
  /* ===============
      Maximal Width
     =============== */
  /* line 433, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .wrapper {
    /*width: 1026px;  1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 443, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px; }
  /* line 448, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* line 456, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 461, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 471, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 482, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.invisible {
  visibility: hidden; }

/* line 486, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
.clearfix {
  zoom: 1; }
  /* line 487, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .clearfix:before {
    content: " ";
    display: table; }
  /* line 491, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 504, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 511, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  a {
    text-decoration: underline; }
    /* line 513, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    a:visited {
      text-decoration: underline; }
    /* line 516, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
    a[href]:after {
      content: " (" attr(href) ")"; }

  /* line 520, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 526, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  .ir a:after {
    content: ""; }

  /* line 530, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 534, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 538, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 542, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  tr {
    page-break-inside: avoid; }

  /* line 545, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 553, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 557, /Users/David/Documents/Docs/CompCreation/Git/website/source/css/the.scss */
  h2, h3 {
    page-break-after: avoid; } }
