%aside
  .top
    .heading
      Blog Aggregation
  .bottom
    %p
      You can see all my blog posts sorted by
      = link_to('tag', '/blog/tags')
      or
      = link_to('year', '/blog/calendar')
      to best find what you're looking for. There's also the
      = link_to('index', '/blog')
      if you're looking for posts with summaries.
