%p
  %i.fa.fa-info-circle.info
  %i
    This is part of a series of posts I wrote for a class entitled
    = link_to('Technology & Play', 'http://www-personal.umich.edu/~csandvig/469W16/')
    at the University of Michigan. Though they reference page numbers from class readings, they're all meant to be understood on their own.
