@import "../../../node_modules/normalize.css/normalize.css";

@import "../vars.scss";

* {
  font-family: sans-serif;
}

body {
  // @media (prefers-color-scheme: dark) {
  //   color: white; // FIXME: really just for testing dark mode
  //   background-color: #121212;
  //   background-image: url("./svgs/circuit-board-dark.svg");
  // }

  background-image: url("./svgs/circuit-board.svg");
}

// styles used for all blog posts and pages
main {
  h1,
  h2,
  h3 {
    border-bottom: 1px solid black;
    // @media (prefers-color-scheme: dark) {
    //   border-bottom: 1px solid white;;
    // }
    margin: 1rem 0 0.25rem 0;
    line-height: 1.5;
    font-weight: normal;
  }

  h3 {
    border-bottom: none;
  }

  p.subtitle {
    margin: 0.25rem 0;
    font-size: smaller;
  }
}
