// let's clean this up

// VARIABLES
$tablet-width: 768px;
$desktop-width: 1124px;

$blue: #003366; // base blue
$white: #fff; // just so I can change all of this in one go.
$dark-blue: #000033; // also text color.
$code: $dark-blue; // code color
$grey: #bbbbbb;

$maize: #ffcc00;
$light-blue: #336699;
$footer-size: 40px;
$transition-speed: 0.1s;
$links: $light-blue;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@import 'normalize.min.css';

html, body {
  height: 100%;
  background-image: url("../img/greyzz.png");
  // 26px is the initial line-height
  font: 16px / 26px Minion Pro, Helvetica, Helvetica Neue, Arial;
}

// EVERYWHERE STUFF
.border {
  background: $blue;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5em;
  border-right: 0.125em solid $maize;
}

.page {
  min-height: 100%;
  position: relative;

  a {
    text-decoration: none;
  }

  .clearfix {
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    zoom: 1;
  }

  // makes page fit reasonably
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }

  // SECTIONS
  .header-container {
    background: $blue;
    font-family: Myriad Pro, Helvetica, Helvetica Neue, Arial;
    line-height: 1.4;
    h1 {
      text-align: center;
    }

    .title {
      color: $white;
      font-size: 27px;
      margin: 0;
      a {
        color: $white;
        border-bottom: 0px;
        &:hover {
          border-bottom: 0px;
        }
      }
    }

    nav {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: $blue;
        li {
          @include desktop {
            .long {
              padding-left: 4%;
              padding-right: 4%;
            }
          }
        }
      }
      a {
        display: block;
        padding: 12px 0;
        text-align: center;
        vertical-align: middle;
        color: $white;
        font-weight: 400;
        font-size: 20px;
        &:hover:not(.active) {
          background: $light-blue;
        }
      }
      .active {
        background-image: url("../img/greyzz.png");
        color: $blue;
      }

      @include tablet {
        a {
          float: left;
          width: 17%;
          padding-left: 2%;
          padding-right: 2%;
        }
      }

      @include desktop {
        float: right;
        width: 40%;
      }
    }

    .my_name {
      border-bottom: 1px solid white;
      @include desktop {
        float: left;
        margin-left: -4.5%;
        margin-top: 0.95%;
      }
    }
  }

  .main-container {
    padding-bottom: $footer-size;
    a {
      color: $links;
      border-bottom: 1px solid $grey;
      font-weight: bold;

      &:visited {
        color: $links;
      }

      &:hover {
        border-bottom: 1px solid $links;
      }
    }

    sup {
      a {
        border-bottom: none;
      }
    }

    ul {
      padding-left: 0px;
    }

    .main {
      // container styles
      @include tablet {
        padding: 30px 0;
      }

      .heading {
        font-weight: 400;
      }

      p {
        font-weight: 300;
        text-align: justify;
      }

      article {
        @include desktop {
          float: left;
          width: 65%;
        }

        section {
          padding-bottom: 5%;

          @include tablet {
            padding-bottom: 3%;
          }

          @include desktop {
            padding-bottom: 1%;
          }
        }

        .page_nav {
          text-align: center;

          @include desktop {
            text-align: left;

          }
        }

        // projects page
        .projects {
          list-style-type: none;
          li {
            margin-bottom: 35px;

            .heading {
              margin-bottom: 10px;
              .date {
                font-style: italic;
                font-size: .6em;
                &, a {
                  vertical-align: top;
                }
              }
            }

            p {
              margin-top: 0;
            }
          }
        }

        .misc {
          ul {
            padding-left: 40px;
            list-style-type: circle;
            font-weight: 300;
          }
        }

        // could share style better between blog and blog post
        .blog {
          list-style-type: none;
          width: 95%;
          .summary {
            border-top: 1px solid $grey;
            &:not(:last-child) {
              padding-bottom: 3em;
            }

            .meta {
              @include tablet {
                float: right;
              }
              clear: right;
              width: 7em;
              ul {
                margin-top: 0;
                padding-left: 20px;
              }
            }

            .post {
              @include tablet {
                width: 75%;
              }
              text-align: justify;
              padding-top: 7px;

              h1 {
                font-weight: 300;
                margin: 0;
                padding-bottom: 15px;
                line-height: normal;

                a {
                  border-bottom: none;
                  &:hover {
                    border-bottom: 1px solid $blue;
                  }
                }
              }

              .post-body {
                border-left: 1px solid $maize;
                padding-left: 15px;
                @import 'table.css.scss'
              }
            }
          }
        }

        .blog_post {
          h1 {
            font-weight: 300;
            line-height: normal;
          }

          .blog_body {
            text-align: justify;

            h1, h2 {
              border-bottom: 1px solid $grey;
              padding-bottom: 0.3em;
            }

            h1, h2, h3 {
              margin-top: 2em;
            }

            img {
              max-width: 100%;
              max-height: 450px;
              height: auto;
              display: block;
              margin: 0 auto;

              // pads top and bottom, less cluttered feelings
              padding: 1em 0 1em 0;

              @include tablet {
                height: initial;
              }
            }

            ul {
              list-style-type: circle;
              // normal ul styles
              padding-left: 40px;
            }

            code, pre, blockquote {
              background-color: $code;
              border-radius: 5px;
              // color is overwritten by syntax anyway
              color: $white;
              a {
                color: $white;
                border-bottom: 1px solid $grey;
                &:hover {
                  border-bottom: 1px solid $white;
                }
              }
            }

            code {
              // inline code
              padding: 3px;
            }
            pre {
              // code blocks
              padding: 15px;
            }

            blockquote {
              padding: 30px;
              font-family: courier, helvetica;
              margin: 10px auto;
              @include tablet {
                margin: 20px 40px;
              }
              // margin-left: -10px;
            }

            @import 'table.css.scss';
            @import 'anchor.css.scss';
          }
        }

        ul {
          list-style-type: none;

          .spaced {
            h3 {
              a {
                // so the tag page is more varied
                color: $dark-blue;
              }
            }
          }

          li {
            ul {
              list-style-type: circle;
              padding-left: 40px;
            }
          }
        }
      }

      aside {
        color: $white;
        padding-bottom: 3%;

        @include desktop {
          float: right;
          width: 30%;
        }

        .top {
          background-color: $blue;
          border-bottom: 3px solid $white;
          font: 18px Myriad Pro, Helvetica, Helvetica Neue, Arial;
          .heading {
            padding-top: 8px;
            padding-left: 5%;
            padding-bottom: 4px;
          }
        }

        .bottom {
          background-color: $dark-blue;
          // this is the most important line because it gives the box size
          overflow: hidden;
          font: 16px Myriad Pro, Helvetica, Helvetica Neue, Arial;

          .row {
            text-align: center;
            .cell {
              i {
                color: $dark-blue;
              }
              background-color: $white;
              width: 20.3%;
              // margin: 4% 6% auto 6%;
              margin-top: 6%;
              margin-left: 4%;
              margin-bottom: 6%;

              padding-top: 3%;
              padding-bottom: 3%;

              &:hover {
                background-color: $light-blue;
                i {
                  color: $white;
                }
              }
            }
            .floater {
              float: left;
            }
          }
        }

        a {
          color: $maize;
          border-bottom: none;
          font-weight: normal;
          &:hover {
            border-bottom: 1px solid $maize;
          }
        }

        p {
          width: 90%;
          padding-left: 5%;
        }
      }
    }
  }

  .footer-container {
    height: $footer-size;
    background-color: $blue;
    position: absolute;
    width: 100%;
    bottom: 0;
    // overflow: hidden;

    footer {
      color: $white;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline-block;
          padding-right: 4%;
          padding-top: 4px;

          a {
            color: $white;
            &:hover {
              color: $maize;
            }
            .sitename {
              // the sites could hover names - not doing it rn
              display: none;
            }
          }
        }
      }
    }
  }
}

// I don't think I need these, but who knows
@import 'print.css.scss'
