/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

$black: #003366; //base blue
$white: #fff;
$red: #000033; //darker blue; also text color.

$maize: #ffcc00;
$light-blue: #336699;
$footer-size: 48px;
$transition-speed: 0.5s;
$links: $light-blue; //gonna

html, button, input, select, textarea {
  color: #222;
  
}

body {
  font-size: 1em;
  line-height: 1.4;
  font: 16px / 26px Minion Pro, Helvetica, Helvetica Neue, Arial;
  // border here means blue line is on top
  // border-left: 10px solid $black;
}

html, body {
  height: 100%;
  // background-color: $white;
  background-image: url("../img/greyzz.png"); 
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

// i:hover {
//   color: green;
// }

.date {
  font-style: italic;
  font-size: .6em;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   Edited: David Brownman - this is my site
   ========================================================================== */

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Blue Theme
   =================== */

.page {
  min-height: 100%;
  position: relative;
  // border here means yellow line interrupted
  border-left: 15px solid $black;
  
  a {
    color: $links;
    border-bottom: 1px solid #a5a5a5; //grey color
    text-decoration: none;
    -moz-transition: $transition-speed ease-out;
    -webkit-transition: $transition-speed ease-out;
    -o-transition: $transition-speed ease-out;
    transition: $transition-speed ease-out;
    
    &:visited {
      color: $links;
    }

    &:hover {
      // color: blue;
      // text-decoration: underline;
      border-bottom: 1px solid $links;
      -moz-transition: $transition-speed ease-out;
      -webkit-transition: $transition-speed ease-out;
      -o-transition: $transition-speed ease-out;
      transition: $transition-speed ease-out;
    }
  }
}

.header-container {
  // border-bottom: 20px solid $red;
  font: 27px Myriad Pro, Helvetica, Helvetica Neue, Arial !important;
  height: 48px;
  // mitch added this shadow, i should give him credit
  // -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  // -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  // box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

.footer-container, .main aside {
  // border-top: 20px solid $red;
}

.header-container, .footer-container, .main aside {
  background: $black;
}



.main-container {
  padding-bottom: $footer-size;  
  a {
    font-weight: bold;
  }
}

.mini_header {

  padding-bottom: 3%;
}

.footer-container {
  height: $footer-size;
  position: absolute;
  width: 100%;
  bottom: 0;
  
  .feet {
    font-weight: 300;
    i {
      color: $white;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-right: 33px;
    }
    li {
      display: inline-block;
      padding-right: 30px;
    }
    position: absolute;
    right: 0;
    color: $white;
    a {
      color: $white;
      border-bottom: 1px solid $black;
    }
    a:hover {
      // text-decoration: underline;
      border-bottom: 1px solid $white;
      // color: $white;
    }
  }
}

.title {
  color: $white;
  font-size: 27px;
  margin: 0;
  a {
    color: $white !important;
    border-bottom: 1px solid $black;
    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

article {
  header, section, footer {
    p {
      padding-bottom: 5%;
    }
    .projects {
      list-style-type: circle;
      font-weight: 200;
    }
    
  }
  .dict {
      background-color: rgba(187, 187, 187, 0.3);
      padding: 20px;
      width: 60%;
      // border: 1px solid $black;
    }
}

/* ==============
    MOBILE: Menu
   ============== */

nav {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $black;
  }
  a {
    display: block;
    // margin-bottom: 10px;
    padding: 12px 0;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    // height: 48px;
    color: #fff !important;
    // background: $white;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 0px !important;
    &:hover {
      // text-decoration: underline;
      background: $light-blue;
      // color: $black !important;
    }
    &:visited {
      color: $black;
    }
  }
  .active {
    background-image: url("../img/greyzz.png");
    color: $black !important;
    &:hover {
      background-image: url("../img/greyzz.png");
      color: $black !important;
    }
  }
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
  .topper {
    border-bottom: 2px solid #fff;
    background-color: $black;
    font: 18px Myriad Pro, Helvetica, Helvetica Neue, Arial;
    .heading {
      padding-top: 4px;
      padding-left: 5%;
    }
  }
  article h1 {
    font-size: 2em;
    
  }
  .heading {
    font-weight: 400;
  }
  p {
    font-weight: 300;
  }
  
  aside {
    color: $white;
    background-color: $red;
    // padding: 5px 0.5% 5px;
    font: 16px Myriad Pro, Helvetica, Helvetica Neue, Arial;
    a {
      color: $maize !important;
      border-bottom: 1px solid $red;
      font-weight: normal;
      &:hover {
        border-bottom: 1px solid $maize;
      }
      &:visited {
        color: $white;
      }
    }
    
    .fact {
      
    }

    img {
      // padding-top: 5%;
      // padding-bottom: 5%;
      // width: 25%;
      padding: 5%;
    }

    p {
      width: 90%;
      padding-left: 5%;
    }

    .top {
      .cell {
        margin-bottom: 1px;
      }
    }
    .left {
      .cell {
        // margin-left: 1%;
      }
    }
    .row {
      text-align: center;
      a {
        color: #fff !important;
      }
      .cell {
        width: 49.9%;
        height: 80px;
        // vertical-align: center;
        background-color: $red;
        padding-top: 30px;
        &:hover {
          background-color: $light-blue;
          i {
            color: #fff;
          }
        }
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      i {
        color: $maize;
        padding-bottom: 9%;
      }
    }

  }

  .first {
    background-color: $light-blue;
  }

  .second {
    margin-top: 30px;
  }

  .third {
    // background-color: $red;
  }

}

.footer-container footer {
  color: $white;
  // padding: 10px 0;
  .sitename {
    display: none;
  }
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tumblr_posts {
  list-style-type: none;
  width: 60%;
  // a {
  //   font-weight: bold;
  // }
}

.tumblr_post {
  margin-bottom: 100px;
  .date {
    font-size: 1em;
  }
  blockquote {
    background-color: #bbbbbb;
    padding: 30px;
    font-family: courier, helvetica;
    margin-left: -10px;
  }

  .tumblr_title {
    // font-size: 2em;
    color: $black;
    margin-bottom: 10px;
    font: 30px Myriad Pro, Helvetica, Helvetica Neue, Arial;
    font-weight: bold !important;
    // padding-left: 20px;
  }

  .tumblr_body {
    border-left: 3px solid $maize;
    padding-left: 20px;
  }

}



.tumblr_body img {
  //possible fixed width
}

.quote_source {
  // padding-left: 10%;
  font-size: 1.5em;
}

.read_more_container! a {}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav {
    a {
      float: left;
      width: 17%;
      // margin: 0 1.7%;
      // padding: 25px 2%;
      padding-left: 2%;
      padding-right: 2%;
      margin-bottom: 0;
      // font-size: 1em;
    }
    li {
      &:first-child a {
        margin-left: 0;
      }
      &:last-child a {
        margin-right: 0;
      }
    }
    ul li {
      display: inline;
    }
  }

  .footer-container footer {
    .sitename {
      display: inline;
    }
  }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 1124px) {
  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left;
    margin-left: -4.5%;
    margin-top: 0.95%;
  }
  nav {
    float: right;
    width: 38%;
    // font-size: 1.3em;
  }
  /* ============
      WIDE: Main
     ============ */
  .main {
    article {
      float: left;
      width: 70%;
      margin-left: -2%;
      h1, h2 {
        font: 20px Myriad Pro, Helvetica, Helvetica Neue, Arial;
        font-weight: bold !important;

      }
    }
    aside {
      float: right;
      width: 26%;
      img {
        width: 90%;
      }
    }
  }
}

@media only screen and (min-width: 750) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    /*width: 1026px;  1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after {
    content: "";
  }
  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}