// let's clean this up

// VARIABLES
$tablet-width: 768px;
$desktop-width: 1024px;

$blue: #003366; // base blue
$white: #fff; // just so I can change all of this in one go.
$dark-blue: #000033; // also text color.
$code: $dark-blue; // code color
$grey: #bbbbbb;

$maize: #ffcc00;
$light-blue: #336699;
$footer-size: 40px;
$transition-speed: 0.1s;
$links: $light-blue;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// EVERYWHERE STUFF
.border {
  background: $blue;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5em;
  border-right: 0.125em solid $maize;
}

.page {
  min-height: 100%;
  position: relative;

  a {
    text-decoration: none;
  }

  .clearfix {
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    zoom: 1;
  }

  // SECTIONS
  .header-container {
    background: $blue;
    font-family: Myriad Pro, Helvetica, Helvetica Neue, Arial;
    h1 {
      text-align: center;
    }

    .title {
      color: $white;
      font-size: 27px;
      margin: 0;
      a {
        color: $white;
        border-bottom: 0px;
        &:hover {
          border-bottom: 0px;
        }
      }
    }

    nav {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        color: $blue;
      }
      a {
        display: block;
        padding: 12px 0;
        text-align: center;
        vertical-align: middle;
        color: $white;
        font-weight: 400;
        font-size: 20px;
        &:hover:not(.active) {
          background: $light-blue;
        }
      }
      .active {
        background-image: url("../img/greyzz.png");
        color: $blue;
      }
    }
  }

  .main-container {
    a {
      color: $links;
      border-bottom: 1px solid $grey;
      font-weight: bold;

      &:visited {
        color: $links;
      }

      &:hover {
        border-bottom: 1px solid $links;
      }
    }
  }
  .footer-container {}
}
