@import "../vars.scss";

nav.header {
  display: flex;
  background-color: $base-blue;

  h1 {
    @include mobile-only {
      min-width: 44%;
    }
    color: white;
    margin: auto;
    margin-left: 10px;
  }

  .navbar {
    a {
      text-decoration: none;
    }

    @include mobile-only {
      margin-right: 0;
      overflow-x: hidden;
    }
    margin: 0 17px 0 auto;

    .navbar-item {
      @include mobile-only {
        // width: 75%;
        margin-top: 1px;
        text-align: center;
        padding: 10px 700px 10px 33px;
      }

      float: left;
      font-size: 1.3em;
      color: $MBlue;
      padding: 10px 33px;
      position: relative;
      cursor: pointer;
      margin-left: 2px;
      z-index: 4;

      // parallellogram
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $maize;
        z-index: -1;
        transform: skew(-38deg);
        transition: all 0.2s linear;
      }

      &:hover {
        transition: all 0.2s linear;
        // color: $nav-item-color;
        &:after {
          background-color: #00b2a9;
        }
      }

      &.active {
        color: $nav-item-color;
        &:after {
          background-color: $nav-background;
        }
      }
    }
  }
}
