@import "../vars.scss";

$skew-size: 36deg;

nav.header {
  display: flex;
  background-color: $nav-background;
  @media (prefers-color-scheme: dark) {
    background-color: $nav-dark-background;
  }

  h1 {
    color: white;
    @media (prefers-color-scheme: dark) {
      color: $tCyan;

      // outlined name:
      // color: black;
      // -webkit-text-stroke-width: 1px;
      // font-weight: 900;
      // -webkit-text-stroke-color: $tOrange;
    }
    margin: auto;
    margin-left: 10px;
  }

  a {
    text-decoration: none;
    margin: auto 0;
  }

  .navbar {
    @include desktop {
      @media (prefers-color-scheme: dark) {
        background-color: $nav-dark-item;
      }
      transform: skew(-$skew-size);
      padding-right: 2px;
    }

    overflow-x: hidden;
    @include mobile-only {
      padding-inline-start: 4rem;
      margin-right: 0;
    }
    // 17px puts the last parallelogram right in the corner of the screen
    margin: 0 17px 0 auto;

    .navbar-item {
      text-decoration: none;
      @include mobile-only {
        margin-top: 1px;
        text-align: center;
        padding: 10px 700px 10px 33px;
      }

      text-align: center;
      float: left;
      font-size: 1.2rem;
      color: $MBlue;

      @media (prefers-color-scheme: dark) {
        color: $nav-dark-item;
      }
      padding: 10px 33px;
      position: relative;
      cursor: pointer;
      margin-left: 2px;
      z-index: 4;
      // items being too short messes up spacing
      // should be as long as the biggest item, I think
      min-width: 70px;
      @include desktop {
        transform: skew($skew-size);
      }
      // parallellogram
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $nav-item;
        @media (prefers-color-scheme: dark) {
          background-color: $nav-dark-background;
        }
        z-index: -1;
        transform: skew(-$skew-size);
        transition: all 0.2s linear;
      }

      &:hover,
      &.active {
        color: $nav-item;
        @media (prefers-color-scheme: dark) {
          color: $tBlack;
        }
        &:after {
          background-color: $nav-background;

          @media (prefers-color-scheme: dark) {
            background-color: $nav-dark-item;
          }
        }
      }
    }
  }
}
