---
title: Feeds
header: blog
---

%article
  %h2
    Blog Feeds

  .misc
    %p
      In case you'd like to be notified every time I post something I write, this site provides the following feed formats:

    %ul
      %li
        = link_to('JSON', '/blog/feed.json')
      %li
        = link_to('XML', '/blog/feed.xml')

    %p
      Thanks a bunch!
