@import "../vars.scss";

.tag-group {
  #tag-icon {
    font-size: 1.3em;
    margin-top: 2px;
    @include tablet {
      margin-top: 0;
    }
  }
  .tag {
    margin-top: 2px;
    @include tablet {
      margin-top: 0;
    }
  }
}
