%p.mini_header
  The most recent 10 posts on my blog are found here. The full archive is
  %a{href:"http://blog.davidbrownman.com"}<
    here
  and will be there forever.

%ul.tumblr_posts


%script{type: "text/javascript", src: "http://blog.davidbrownman.com/api/read/json?num=10"}
:javascript
  // The variable "tumblr_api_read" is now set by the js above
  document.getElementById("ni").className="active";
  for (var i = 0; i<tumblr_api_read.posts.length; i++)
  {
    if (tumblr_api_read.posts[i].type == "quote") {
      var e = [
        '<li class="tumblr_post">',
          '<blockquote>', tumblr_api_read.posts[i]["quote-text"], '</blockquote>',
          '<p class="quote_source">', '-'+tumblr_api_read.posts[i]["quote-source"],'</p>',
          '<span class="date dq">',
            ' - ',tumblr_api_read.posts[i].date.slice(5,22),
            ' - ','<a href="',tumblr_api_read.posts[i].url,'">','permalink','</a>',
          '</span>',
        '</li>'
      ].join(' ');
    }
    // regular posts
    else {
      var e = [
        '<li class="tumblr_post">',
          '<div class="tumblr_title">',
            tumblr_api_read.posts[i]["regular-title"],
          '</div>',
          '<div class="tumblr_body">',tumblr_api_read.posts[i]["regular-body"],'</div>',
          '<span class="date">',
            '- ',tumblr_api_read.posts[i].date.slice(5,22),
            ' - ','<a href="',tumblr_api_read.posts[i].url,'">','permalink','</a>',
          '</span>',
        '</li>'
      ].join(' ');
    }

    
    // e+="<hr>";
    $(".tumblr_posts").append(e);
  }
  
  // this'll make the code pretty!
  $("pre").addClass("prettyprint");
