---
title: Blog
header: blog
---

-# %p.mini_header
-#   My 10 most recent blog posts can be found (with custom styles) here. There's also a full
-#   %a{href:"http://blog.davidbrownman.com"}<
-#     archive
-#   if you're really that bored.

%ul.blog_posts
  - blog.articles[0...5].each do |article|
    %li
      .meta
        %time
          = article.date.strftime('%b %e %Y')
      .post
        %h1
          = article.title
        .post-body
          = article.summary
          %a{:href => article.url} Read more
