---
title: Blog
header: blog
---

-# %p.mini_header
-#   My 10 most recent blog posts can be found (with custom styles) here. There's also a full
-#   %a{href:"http://blog.davidbrownman.com"}<
-#     archive
-#   if you're really that bored.
%article
  %ul.blog
    - blog.articles[0...5].each do |article|
      %li.summary
        .meta
          %time
            %a{:href => article.url}
              = article.date.strftime('%b %e %Y')
        .post
          %h1.tumblr_title
            = article.title
          .post-body
            = article.summary
            %a{:href => article.url} Read more

%aside
  .top
    .heading
      The Write Stuff
  .bottom
    %p
      Here's my collection of blog posts (both technical and otherwise) presented chronicled in reverse.

