---
title: Blog by Year
header: blog
---

%article
  %h1
    Posts by Year
  %ul
    - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
      %li
        %h3
          = year
        %ul.indent
          - articles.each do |article|
            %li
              = article.date.strftime('%b %d - ')
              %a{:href => article.url}
                = article.title

= partial 'partials/blog_agg'
