%article
  %header
    %h1.heading
      Hey, how's it going?
    %p
      My name's David. I'm a jack of all trades about to graduate from the University of Michigan with a Bachelor of Arts in Social Computing Informatics. I'm a software developer, web-cool-guy, and I've created this site as a one-stop shop for information pertaining to my personal and professional lives. Apparently, they let anyone put websites online these days. This site is and shall be my sandbox for all things that I may want to put on the internet.
  %section
    %h2.heading
      Things I'm fond of
    %p
      I like CSS, interpreted languages, computer automation, Mac OS X, productivity apps, and dark work enviroments.  I travel as much as I can and love visiting friends in their respective cities around the world.

%aside.topper
  .heading
    But wait... there's more!
%aside.first
  .row.top
    %a{href: "mailto:brownman@umich.edu", target: "_blank"}
      .cell.left
        %i.fa.fa-envelope.fa-lg.fa-3x
        %br
        email
    %a{href: "https://twitter.com/xavdid", target: "_blank"}
      .cell.right
        %i.fa.fa-twitter.fa-lg.fa-3x
        %br
        @xavdid
  %br
  .row.bottom
    %a{href: "https://github.com/xavdidtheshadow", target: "_blank"}
      .cell.left
        %i.fa.fa-github-alt.fa-lg.fa-3x
        %br
        Xavdidtheshadow
    %a{href: "files/brownman_resume.pdf", target: "_blank"}
      .cell.right
        %i.fa.fa-file-text.fa-lg.fa-3x
        %br
        Resume (PDF)

%aside.second.topper
  .heading
    Did You Know?
%aside.third
  %p.fact
    There should be a random fact here.
    



  :javascript
    var i = getRandomInt(0,facts.length-1);
    $(".fact").html(facts[i]);
    document.getElementById("ichi").className="active";

