---
title: Home
header: index
---

%article
  %section
    %h2.heading
      Hey, how's it going?
    %p
      My name's David. I graduated from the University of Michigan with a Bachelor of Arts in Social Computing Informatics not that long ago. I'm a software developer by trade and I've created this site as a one-stop shop for information pertaining to my personal and professional lives. Apparently they let anyone put websites online these days, so welcome to mine.
  %section
    %h2.heading
      Things I'm fond of
    %p
      I like interpreted languages, computer automation, CSS, productivity apps, afternoon naps, build tools, and dark work environments. I travel as much as I can and love visiting friends around the world.
  %section
    %h2.heading
      My life right now
    %p
      I'm a Platform Engineer at
      %a{href: "https://zapier.com", target: "_blank", rel: 'noopener'}<
        Zapier
      and am currently working somewhere in the world. Past that, all I know is that someday, I'll own a blue Tesla.

%aside.sidebar
  .top
    .heading
      But wait... there's more!

  .bottom
    .row
      %a{href: "mailto:beamneocube@gmail.com", target: "_blank", rel: 'noopener'}
        .cell.floater
          %i.fa.fa-envelope.fa-3x
      %a{href: "https://github.com/xavdid", target: "_blank", rel: 'noopener'}
        .cell.floater
          %i.fa.fa-github-alt.fa-3x
      %a{href: "https://twitter.com/xavdid", target: "_blank", rel: 'noopener'}
        .cell.floater
          %i.fa.fa-twitter.fa-3x
      %a{href: "https://www.linkedin.com/in/xavdid", target: "_blank", rel: 'noopener'}
        .cell.floater
          %i.fa.fa-linkedin.fa-3x

%aside.sidebar
  .top
    .heading
      Did You Know?
  .bottom
    %p.fact
      There should be a random fact here. What do you have against javascript?
