%article
  %header
    %h1.heading
      Hey, how's it going?
    %p
      My name's David. I'm a jack of all trades and about to graduate from the University of Michigan with a Bachelor of Arts in Social Computing Informatics. I'm a software developer, web-cool-guy, and I've created this site as a one-stop shop for information pertaining to my personal and professional lives. Apparently, they let anyone put websites online these days. This site is and shall be my sandbox for all things that I may want to put on the internet.
  %section
    %h2.heading
      Things I'm fond of
    %p
      I like interpreted languages, computer automation, CSS, Mac OS X, productivity apps, afternoon naps, and dark work environments. I travel as much as I can and love visiting friends around the world.
  %section
    %h2.heading
      My life right now
    %p
      I'm currently a software developer at
      %a{href: "http://relateiq.com", target: "_blank"}<
        RelateIQ
      in Palo Alto, CA. I'll be out here for the foreseeable future making the world a more awesome place for relationship management. Past that, all I know is that someday, I'll own a blue Tesla. 
      -# I'm currently searching for a job that I can start after I graduate. Ideally, this would be doing software development at a medium size company where I get to live in a cool city and work with cool people. If you think I would be a good fit for your company, you can head
      -# %a{href: "files/brownman_resume.pdf", target: "_blank"}<
      -#   here
      -# to peruse my full resume.

%aside.topper.first
  .heading
    But wait... there's more!
%aside.second
  .row.top
    %a{href: "mailto:brownman@umich.edu", target: "_blank"}
      .cell.left
        %i.fa.fa-envelope.fa-3x
        -# %br
        -# email
    %a{href: "https://github.com/xavdidtheshadow", target: "_blank"}
      .cell.left
        %i.fa.fa-github-alt.fa-3x
        -# %br
        -# Xavdidtheshadow
    
  
  .row.bottom
    %a{href: "https://twitter.com/xavdid", target: "_blank"}
      .cell.right
        %i.fa.fa-twitter.fa-3x
        -# %br
        -# @xavdid
    %a{href: "http://www.linkedin.com/pub/david-brownman/63/480/180/", target: "_blank"}
      .cell.right
        %i.fa.fa-linkedin.fa-3x
    -# %a{href: "files/brownman_resume.pdf", target: "_blank"}
    -#   .cell.right
    -#     %i.fa.fa-file-text.fa-2x
    -#     -# %br
    -#     -# Resume (PDF)

%aside.third.topper
  .heading
    Did You Know?
%aside.fourth
  %p.fact
    There should be a random fact here. What do you have against javascript?
    
  :javascript
    var i = getRandomInt(0,facts.length-1);
    $(".fact").html(facts[i]);
    document.getElementById("ichi").className+=" active";

