---
title: Home
header: index
---

%article
  %header
    %h1.heading
      Hey, how's it going?
    %p
      My name's David. I graduated from the University of Michigan with a Bachelor of Arts in Social Computing Informatics not that long ago. I'm a software developer by trade and I've created this site as a one-stop shop for information pertaining to my personal and professional lives. Apparently they let anyone put websites online these days, so welcome to mine.
  %section
    %h2.heading
      Things I'm fond of
    %p
      I like interpreted languages, computer automation, CSS, productivity apps, afternoon naps, build tools, and dark work environments. I travel as much as I can and love visiting friends around the world.
  %section
    %h2.heading
      My life right now
    %p
      I recently quit my job at
      %a{href: "https://salesforceiq.com", target: "_blank"}<
        SalesforceIQ
      in Palo Alto, CA. Currently enjoying #funemployment, but I'll be looking for a new job by the end of the summer (my resume is
      %a{href: "https://registry.jsonresume.org/david", target: "_blank"}<
        here
      if that fact interests you). Past that, all I know is that someday, I'll own a blue Tesla.

%aside.topper.first
  .heading
    But wait... there's more!
%aside.second
  .row.top
    %a{href: "mailto:beamneocube@gmail.com", target: "_blank"}
      .cell.left
        %i.fa.fa-envelope.fa-3x
    %a{href: "https://github.com/xavdid", target: "_blank"}
      .cell.left
        %i.fa.fa-github-alt.fa-3x


  .row.bottom
    %a{href: "https://twitter.com/xavdid", target: "_blank"}
      .cell.right
        %i.fa.fa-twitter.fa-3x
    %a{href: "https://www.linkedin.com/in/xavdid", target: "_blank"}
      .cell.right
        %i.fa.fa-linkedin.fa-3x

%aside.third.topper
  .heading
    Did You Know?
%aside.fourth
  %p.fact
    There should be a random fact here. What do you have against javascript?

  :javascript
    var i = getRandomIndex(facts.length - 1);
    $('.fact').html(facts[i]);
