---
title: Sundries
header: misc
---

%article
  %section
    %h2.heading
      Technical
    %ul.projects
      %li
        I'm a maintainer for the
        %a{href: "https://github.com/adelevie/parse-ruby-client", target: "_blank"}<
          Parse Ruby Client
        and am in the process of guiding it into v1.0.
      -# %li
      -#   I'm a huge proponent of startups. They're fun, I was able jump between productivity in all aspects of the company (back-end, front-end, UX, and growth hacking), and the food/beer/adventures tend to be top notch. During my time in college I had the opportunity to work at two,
      -#   %a{href: "http://www.fetchnotes.com", target:"_blank"}<
      -#     Fetchnotes
      -#   and
      -#   %a{href: "http://backstit.ch", target:"_blank"}<
      -#     backstitch,
      -#   both of which gave me invaluable experience and excellent memories. The connections I made with these two teams are awesome and I will continue to keep in touch with them in the future
      -# %li
      -#   I made a fully playable version of
      -#   %a{href: "/connectfour.html", target:"_blank"}<
      -#     Connect Four
      -#   as part of my
      -#   %a{href: "https://www.relateiq.com", target: "_blank"}<
      -#     RelateIQ
      -#   job app.
      -# %li
      -#   I contributed
      -#   %a{href: "https://github.com/adelevie/parse-ruby-client/pull/145"}<
      -#     quiet mode
      -#   to to the Parse Ruby Client (a tool I rely on heavily for
      -#   %a{href: "http://refdevelopment.com", target: "_blank"}<
      -#     quidditch
      -#   stuff).
      -# %li
      -#   I added a
      -#   %a{href: "https://github.com/honestbleeps/Reddit-Enhancement-Suite/pull/475"}<
      -#     feature
      -#   to Reddit Enhancement Suite that allowed users to hide and unhide the multi-bar without clicking on it.
      %li
        I once found a
        %a{href: "https://code.google.com/p/chromium/issues/detail?id=254621", target:"_blank"}<
          bug
        in Chrome that got fixed.
      %li
        I whipped up a piece of
        %a{href: "https://gist.github.com/xavdid/8930419", target: "_blank"}<
          middleware
        so I could parse PayPal emails into IFTTT. I also wrote a
        %a{href: "http://blog.davidbrownman.com/post/76440404792/if-shirt-then-bounce-that-email", taret: "_blank"}<
          blog post
        about the process.
      %li
        There's also my list of
        %a{href: "https://ifttt.com/p/xavdid/shared", target:"blank"}<
          IFTTT
        recipes that do neat things!
      %li
        I wrote a
        %a{href: "https://www.editorial-workflows.com/workflow/4970737450352640/GER0aYUXXaU", target: "_blank"}<
          workflow
        for
        %a{href:"https://omz-software.com/editorial", target: "_blank"}<
          Editorial
        that allows you to post documents to tumblr and have them parsed correctly.
      %li
        I wrote a
        %a{href: "https://gist.github.com/xavdid/d07ef908fe023f2e1225", target:"_blank"}<
          python script
        on a plane that lets 2 players play 3D tic-tac-toe.
      %li
        My (under construction)
        %a{href: "https://www.github.com/xavdid/dotfiles", target:"blank"}<
          dotfiles
        can be found here, letting you bootstrap a mac laptop that acts a lot like mine do.
      -# %li
      -#   My open source
      -#   %a{href: "http://osrc.dfm.io/xavdid", target:"_blank"}<
      -#     report
      -#   card.
      -# %li
      -#   Wrote a short response about
      -#   %a{href: "http://www.howdoyoucode.com/responses/e86f11e712db"}<
      -#     How I Code
      -#   and how you can too!

    %h2.heading
      Non-Technical
    %ul.projects
      %li
        I was the co-founder, president, and webmaster of the highly ranked
        %a{href:"http://michiganquidditch.com", target:"blank"}<
          Michigan Quidditch
        Team from 2010-2014.
      %li
        I gave a
        %a{href: "https://prezi.com/rdt_zlbm8fqp/choice-and-why-it-matters/", target: "_blank"}<
          presentation
        about morality and choice in games for a design class.
      %li
        I won an essay contest sponsored by the City of Houston's
        %a{href: "https://www.cohemployeenews.com/home-psrw", target:"blank"}<
          Public Service Recognition Week
        back in high school. They redid their site and the 2010 winners are no longer listed, but I still remember.
        %a{href: "https://webcache.googleusercontent.com/search?q=cache:TQIwczg_SUcJ:www.houstontx.gov/psrw/files/essayarchives/2010/PSRW%25201st%2520Place%2520-%2520David%2520Brownman.doc+&cd=19&hl=en&ct=clnk&gl=us&client=safari", target: "_blank"}<
          Here
        is the (cached) text of said essay.
      %li
        This site's favicon may look it was drawn by a 5 year old, but it was me. I'm not at all artistic (my sister got all of the art genes), but I wanted to build this site myself, which meant favicon too. I'm super proud of it. The site was designed mostly by Jennifer Herzberg which some helpfully rejected suggestions from myself.

    %h2.heading
      Around the Web
    %ul.projects
      %li
        My
        %a{href: "https://rubygems.org/profiles/xavdid", target: "_blank"}<
          RubyGems
        profile, where you can see the public ruby code I maintain.
      %li
        My
        %a{href: "https://stackoverflow.com/users/1825390/xavdid", target: "_blank"}<
          Stackoverflow
        profile, where I sometimes appear less clueless than I am.
      %li
        My
        %a{href: "https://keybase.io/xavdid", target: "_blank"}<
          Keybase
        profile, which verifies my identity and lists my public key. Feel free to send me snarky messages meant for my eyes only.
      %li
        My
        %a{href: "https://www.kickstarter.com/profile/brownman", target: "_blank"}<
          Kickstarter
        profile. I'd try to kick the habit if there weren't so many great projects!
      %li
        My
        %a{href: "https://vine.co/u/923740547368235008", target: "_blank"}<
          vine
        profile, discretized snippets of 6 second awesomeness.
      %li
        My
        %a{href: "https://soundcloud.com/xavdid/sets/va", target: "_blank"}<
          soundcloud
        profile, where I upload some amateur voice acting clips.
      %li
        My
        %a{href: "https://instagram.com/xavdid", target: "_blank"}<
          Instagram
        account, full of ART.
      %li
        My
        %a{href: "https://untappd.com/user/Xavdid", target: "_blank"}<
          untappd
        profile, where I track the good, the bad, and the Bud Light.
      %li
        My
        %a{href: "https://www.imdb.com/name/nm5598028/", target:"_blank"}<
          IMDB
        page (that I never thought I'd actually have).
      %li
        My
        %a{href: "https://www.npmjs.com/~xavdid", target:"_blank"}<
          npm
        account, which has any javascript packages I've uploaded.

    %h2.heading
      Miscellaneous
    %ul.projects
      %li
        What is
        %a{href: "http://blog.davidbrownman.com/post/73426818318/nothing-whats-infor-mata-with-you", target:"blank"}<
          informatics
        and is it a real major?
      %li
        A full list of
        %a{href: "https://airtable.com/shrhRIQEmJ8Q4diwu", target: "_blank"}<
          concerts
        that I've attended, with notes and assorted information.

%aside.topper
  .heading
    as pl. noun (<b>sundries</b>)
%aside
  %p
    various items not important enough to be mentioned as individual projects.
  %p
    That is, all the other cool stuff I've done, listed in order of how neat I think they are.
