%article
  %section.jobs
    %h2.heading
      Dead Simple
      %span.date
        \- (angularjs, node, socket.io)
        \- Feb, 2016 - 
        %a{href: "https://deadsimple.herokuapp.com/", target: "_blank"}<
          app
        \-
        %a{href: "https://github.com/Xavdidtheshadow/dead_simple/blob/master/README.md", target:"_blank"}
          info
    %p
      Quick proof of concept for making an infinite-room chat system using socket.io. Also a good excuse to start exploring the "wonderful world" of JS build tools. 

    %h2.heading
      Kerfuffle
      %span.date
        \- (angularjs, node, express, jade)
        \- Dec, 2015 - 
        %a{href: "https://kerfuffle.herokuapp.com", target: "_blank"}<
          app
        \-
        %a{href: "https://github.com/Xavdidtheshadow/kerfuffle/blob/master/README.md", target:"_blank"}
          info
    %p
      The second incarnation of my front-end learning project, it picks a random item from my to watch|read list and gives some extra info about it. Fairly extensible as far as new lists and datasources are concerned. 
      
    %h2.heading
      Pitch Awesome
      %span.date
        \- (iOS, Swift, Audacity)
        \- October, 2015 - 
        %a{href: "http://bit.ly/pitch_awesome", target: "_blank"}<
          app
        \-
        %a{href: "https://github.com/Xavdidtheshadow/pitch_awesome/blob/master/README.md", target:"_blank"}
          info
    %p
      My first foray into iOS, an a cappella assistant app. It stores your group's setlist along with the starting notes for each song. I also built a full pitch pipe into the app so that you can always be sure to be on key. 

    %h2.heading
      Quidditch API
      %span.date
        \- (nodejs, express, mongoose, mongo, mocha)
        \- June, 2015 - 
        %a{href: "https://quidapi.herokuapp.com", target: "_blank"}<
          site
        \-
        %a{href: "https://github.com/quidtech/quid_api", target:"_blank"}
          info
    %p
      A performant mongoose schema for storing a historical record of quidditch matches. Data is written in via cooperation with national quidditch leagues around the world. The project's main goal was allow any interested quidditch developers to access an updated teams & games resource for their own projects. 

    %h2.heading
      IRDP Website
      %span.date
        \- (ruby, sinatra, haml, scss, js, parse)
        \- August, 2014 - 
        %a{href: "http://refdevelopment.com", target: "_blank"}<
          site
        \-
        %a{href: "/refbook", target:"_blank"}
          info
    %p
      The central testing hub for the International Referee Development Program. The site acts as a central hub for quidditch referee testing, payment, and reference. The site also provides a full set of guides and pages, all available in multiple languages (though I didn't do any translating).

    %h2.heading
      Website Redesign
      %span.date
        \- (haml, scss, js, middleman)
        \- January, 2014 -
        %a{href: "http://github.com/Xavdidtheshadow/xavdidtheshadow.github.com/tree/master/source", target: "_blank"}<
          uncompiled source
    %p
      My old site was great, but a little bare bones. Tired with the tedium of writing straight HTML and CSS, I set up a 
      %a{href:"http://middlemanapp.com", target: "_blank"}<
        middleman
      server so I could develop in a rails-like environment (haml, scss, partials, etc) and then generate a static site out of that. I got a nice responsive template from 
      %a{href: "http://html5boilerplate.com", target: "_blank"}<
        html5boilerplate
      and gutted it to meet my needs. Additionally, Google's
      %a{href: "https://code.google.com/p/google-code-prettify/", target:"_blank"}<
        code-prettify
      syntax highlights any code that shows up on the site. How cool is that?

    %h2.heading
      StackPro
      %span.date
        \- (ruby, rails, haml, scss, js, mongo)
        \- December, 2013 - 
        %a{href: "https://stackpro.herokuapp.com", target: "_blank"}<
          app
        \-
        %a{href: "/stackpro", target:"_blank"}
          info
    %p
      A neat little project that was used as part of my application to the
      %a{href: "http://www.thehackerati.com", target: "_blank"}<
        hackerati
      that tracks how many questions are asked and answered on stackoverflow each hour.

    -# %h2.heading
    -#   Kinect481 UI
    -#   %span.date
    -#     \- (ruby/sinatra, haml, scss, js, mongodb)
    -#     \- October, 2013 - 
    -#     %a{href: "http://kinect481.herokuapp.com", target: "_blank"}<
    -#       app
    -#     \-
    -#     %a{href: "http://kinect481.herokuapp.com/admin", target:"_blank"}
    -#       info
    -# %p
    -#   This was designed as a UI possiblity for children with cerebral palsy who lack the fine motor control needed for a keyboard and mouse. A MS kinect would register input in a cardinal direction and my UI would do the database maniupulation to store that value and communicate it back to the tower. Project with 
    -#   %a{href: "http://www-personal.umich.edu/~cgordini/", target:"_blank"}<
    -#     Cory
    -#   and his group.
    
    %h2.heading
      LoLAPI
      %span.date
        \- (python, tornado, json, API, regex)
        \- March, 2013 - 
        %a{href: "https://lolapi.herokuapp.com", target: "_blank"}<
          app
        \-
        %a{href: "/lolapi"}
          info
    %p
      Originally designed as the end-all resource for League of Legends data, this was a huge project. Pulling data from multiple sources to create json representation of characters and their stats.
    
    -# This'll get uncommented when I fix this
    -# %h2.heading
    -#   Tumblr Advanced Search 
    -#   %span.date
    -#     \- (python, Google App Engine, API)
    -#     \- April, 2011 - 
    -#     %a{href: "http://tumblradv182.appspot.com", target: "_blank"}<
    -#       app
    -#     \ - 
    -#     %a{href: "https://github.com/Xavdidtheshadow/tumblradv", target:"_blank"}
    -#       info
    -# %p
    -#   Despite being able to search the full breadth of tumblr's offerings, there is no convenient way to search the postings of a single user, so I made one. It can search and filter through any tumblr url. Though we were required to use css, it was before I had any interest at all in design. Embarrassingly, this app is down right now because of changes in Google App Engine structure and python requirements. I'll go back and update it when I have the time.

%aside.topper
  .heading
    I Work On All Sorts of Stuff!
%aside
  %p
    This is a generally out of date list of some of my larger-scale and more notable projects. You mind them interesting. Additionally, you can check out my resume on 
    %a{href: "http://registry.jsonresume.org/david", target: "_blank"}<
      this
    page. 

:javascript
  document.getElementById("san").className+=" active";
