%article
  %section.jobs
    %h2.heading
      Website Redesign
      %span.date
        \- (haml, scss, js, middleman)
        \- January, 2014 -
        %a{href: "Xavdidtheshadow/xavdidtheshadow.github.com/tree/master/source", target: "_blank"}<
          uncompiled source
    %p
      My old site was great, but a little bare bones. Tired with the tedium of writing straight HTML and CSS, I set up a 
      %a{href:"http://middlemanapp.com", target: "_blank"}<
        middleman
      server so I could develop in a rails-like enviroment (haml, scss, partials, etc) and then generate a static site out of that. I got a nice responsive template from 
      %a{href: "http://html5boilerplate.com", target: "_blank"}<
        html5boilerplate
      and gutted it to meet my needs. Additionally, Google's
      %a{href: "https://code.google.com/p/google-code-prettify/", target:"_blank"}<
        code-prettify
      syntax highlights any code that shows up on the site. How cool is that?

    %h2.heading
      StackPro
      %span.date
        \- (ruby, rails, haml, scss, js, mongo)
        \- December, 2013 - 
        %a{href: "http://stackpro.herokuapp.com", target: "_blank"}<
          app
        \-
        %a{href: "/stackpro", target:"_blank"}
          info
    %p
      A neat little project that was used as part of my application to the
      %a{href: "http://www.thehackerati.com", target: "_blank"}<
        hackerati
      that tracks how many questions are asked and answered on stackoverflow each hour.

    -# %h2.heading
    -#   Kinect481 UI
    -#   %span.date
    -#     \- (ruby, rails, haml, scss, js, mongodb)
    -#     \- October, 2013 - 
    -#     %a{href: "http://kinect481.herokuapp.com", target: "_blank"}<
    -#       app
    -#     \-
    -#     %a{href: "http://kinect481.herokuapp.com/admin", target:"_blank"}
    -#       info
    -# %p
    -#   This was designed as a UI possiblity for children with cerebral palsy who lack the fine motor control needed for a keyboard and mouse. A MS kinect would register input in a cardinal direction and my UI would do the database maniupulation to store that value and communicate it back to the tower. Project with 
    -#   %a{href: "http://www-personal.umich.edu/~cgordini/", target:"_blank"}<
    -#     Cory
    -#   and his group.
    
    %h2.heading
      LoLAPI
      %span.date
        \- (python, tornado, json, API, regex)
        \- March, 2013 - 
        %a{href: "http://lolapi.herokuapp.com", target: "_blank"}<
          app
        \-
        %a{href: "/lolapi"}
          info
    %p
      Originally designed as the end-all resource for League of Legends data, this was a huge project. Pulling data from multiple sources to create json representation of characters and their stats.
    
    %h2.heading
      Tumblr Advanced Search 
      %span.date
        \- (python, Google App Engine, API)
        \- April, 2011 - 
        %a{href: "http://tumblradv182.appspot.com", target: "_blank"}<
          app
        \ - 
        %a{href: "https://github.com/Xavdidtheshadow/tumblradv", target:"_blank"}
          info
    %p
      Despite being able to search the full breadth of tumblr's offerings, there is no convenient way to search the postings of a single user, so I made one. It can search and filter through any tumblr url. Though we were required to use css, it was before I had any interest at all in design. Embarrassingly, this app is down right now because of changes in Google App Engine structure and python requirements. I'll go back and update it when I have the time.

%aside
  %p
    I usually work on whatever strikes my fancy at the time. Sometimes a project is for school; other times it's part of a job application (or a related proof of concept). 

:javascript
  document.getElementById("san").className="active";
